<template>
  <div id="app">

    <router-view></router-view>
    <Navbouttom></Navbouttom>
  </div>
</template>

<script>
//1、引入组件
import Navbouttom from './views/nav.vue'

export default {
  //2、注册组件
  components:{
    Navbouttom
  }
}
</script>

<style>

</style>
