<template>
    <div class="classify-right">
          <ul>
            <li v-for="v in fruitsList" :key="v.title">
                <div class="classify-right-img">
                    <img :src="v.prc">
                </div>
                <div class="classify-right-list">
                    <p>{{v.title}}</p>
                    <i>月售{{v.num}}</i>
                    <div class="classify-right-price">
                        <em>￥</em>
                        <b>{{ v.price }}</b>
                        <i class="iconfont icon-odbc" @click="add(v)"></i>
                    </div>
                    <div class="purchase" v-show= "v.count>0" > {{ v.count }} </div>
                </div>
            </li>
          </ul>
        </div>
</template>
<script>
export default {
    data(){
        return{
            fruitsList:[
                {prc:require('../tu1.png'),title:'西瓜1kg',num:234,price:3.99,count:0},
                {prc:require('../tu1.png'),title:'西瓜1kg',num:234,price:3.99,count:0},
                {prc:require('../tu1.png'),title:'西瓜1kg',num:234,price:3.99,count:0},
                {prc:require('../tu1.png'),title:'西瓜1kg',num:234,price:3.99,count:0},
                {prc:require('../tu1.png'),title:'西瓜1kg',num:234,price:3.99,count:0},
            ]
        }
        
    },
    methods:{
        add(v){
            v.count++;
        }
    }
}
</script>