<template>
    <div class="classify-right">
          <ul>
            <li>
                <div class="classify-right-img">
                    <img src="" alt="">
                </div>
                <div class="classify-right-list">
                    <p>西瓜1kg</p>
                    <i>月售234</i>
                    <div class="classify-right-price">
                        <i>￥</i>
                        <b>3.99</b>
                        <i class="iconfont icon-odbc"></i>
                    </div>
                </div>
            </li>
          </ul>
        </div>
</template>