*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .box{
    font-size: 10px;
} */
.nnn{
    content: '';
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    /* 渐变背景色 */
    background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%)no-repeat;
}
/* 被用户高亮的部分 */
::selection{
    color: #fff;
    background-color: rgb(144, 129, 241);
}
/* 长、宽、背景色、圆角、阴影 、位置*/
.box{
    /* display 属性设置元素是否被视为块或者内联元素以及用于子元素的布局 */
    /* overflow 是 CSS 的简写属性，其设置了元素溢出时所需的行为——即当元素的内容太大而无法适应它的块级格式化上下文时。 */
    display: flex;
    overflow: hidden;
    width: 800px;
    height: 500px;
    background-color: rgba(255, 255, 255, 60%);    
    border-radius: 1.5rem;
    margin: 5% auto;    
    box-shadow: 0 0 1rem 0.2rem rgb(0 0 0 / 10%);
}
.box .login-box{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.login-box h3{
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
  line-height: 100px;
}
.input-box{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.input-box label{
  height: auto;
  font-size: 20px;
  /* align-items: flex-end; */
  align-items:center;
  height: 60px;
}
.login-box input{
  outline: none;
  width: 400px;
  height: 50px;
  font-size: 15px;
  margin: 10px 10px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid rgb(144, 129, 241);
  background-color: rgb(144, 129, 241,0);
}
.login-box input:focus{
  font-size: 15px;
  color: rgb(144, 129, 241);
}
/* .login-box .input-box{
  opacity: 0;
} */
.btn-box{
  display: flex;
  justify-content: center;
}
.btn-box button{
  width: 150px;
  height: 40px;
  font-size: 20px;
  letter-spacing: 20px;
  margin-top: 30px;
  text-indent: 20px;
  font-weight: bold;
}
