<template>
  <div class="box">
    <el-form ref="form" :model="form" :rules="rules" class="login-box" >
      <!-- <h3 class="title-box">欢迎登录</h3> -->
      <h3>欢迎登录</h3>
      <!-- <el-row :gutter="20"> 
        <el-col :span="12">
           <el-form-item  label="账号" prop="name">
        <el-input  type="text" placeholder="请输入账号" v-model="form.name"/>
      </el-form-item>
        </el-col>
      </el-row> -->
      
      <el-form-item label="账号" prop="name" class="input-box">
        <el-input type="text" placeholder="请输入账号" v-model="form.name" />
      </el-form-item>
      

      <el-form-item label="密码" prop="password" class="input-box">
        <el-input  type="password" placeholder="请输入密码" v-model="form.password"/>
      </el-form-item >      
      <el-form-item class="btn-box">
        <el-button type="primary" @click="submitForm('form')">登录</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
export default {
  name: "Login",
  data() {
    return {
      form: {
        name: "",
        password: "",
      },
      rules: {
        name: [{ required: true, message: "请输入用户名", trigger: "blur" }],
        password: [{ required: true, message: "请输入密码", trigger: "blur" }],
      },
    };
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          //获取登陆的状态，登录成功之后设置一个状态
          sessionStorage.setItem("isLogin", "true");
          //this.$store.dispatch("asyncUpdateUser",{name:this.form.name});
          this.$router.push({ name: "Main", params: { name: this.form.name } });
        } else {
          this.$message({
            message: "请输入账号或密码",
            type: "warning",
          });
          return false;
        }
      });
    },
  },
};
</script>

<style>

@import "./login.css";
/* .login-box {
  width: 350px;
  margin: 150px auto;
  border: solid 1px #dcdfe6;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 30px #dcdfe6;
}
.title-box {
  text-align: center;
} */
</style>