<template>
  <h1 class="h1-box">
    404
  </h1>
</template>

<script>
export default {
    name:'NotFound'
}
</script>

<style lang="sss" scoped>
.h1-box{
font-size: 100px;
  margin: 200px;
  text-align: center;
}
</style>>
