<template>
   <el-aside
            width="150px"
            style="background-color: rgb(238, 241, 246)"
            class="Aside">
            <el-menu :default-openeds="['3']" class="Aside_left">
              <el-submenu index="1">
                <template slot="title">会员管理</template>
                <el-menu-item-group>
                  <el-menu-item index="1-1">
                    <router-link to="/member/leve">会员等级</router-link>
                  </el-menu-item>
                  <el-menu-item index="1-2">
                    <router-link :to="{ name: 'MemberList', params: { id: 3 } }">会员列表</router-link>
                  </el-menu-item>
                  <el-menu-item index="1-3">
                    <router-link to="/goMain/admin">返回首页</router-link>
                  </el-menu-item>
                </el-menu-item-group>
              </el-submenu>
              <el-submenu index="2">
                <template slot="title">商品管理</template>
                <el-menu-item-group>
                  <el-menu-item index="2-1">商品种类</el-menu-item>
                  <el-menu-item index="2-2">商品列表</el-menu-item>
                </el-menu-item-group>
              </el-submenu>
              <!-- <el-submenu index="3">
                <template slot="title">练习</template>
                <el-menu-item-group>
                  <el-menu-item index="3-1">
                    <router-link to="/one">One</router-link>
                  </el-menu-item>
                  <el-menu-item index="3-2">
                    <router-link to="/second">Second</router-link>
                  </el-menu-item>
                  <el-menu-item index="3-3">
                    <router-link to="/three">Three</router-link>
                  </el-menu-item>
                  <el-menu-item index="3-4">
                    <router-link to="/four">Four</router-link>
                  </el-menu-item>
                  <el-menu-item index="3-5">
                    <router-link to="/five">Five</router-link>
                  </el-menu-item>
                  <el-menu-item index="3-6">
                    <router-link to="/six">Six</router-link>
                  </el-menu-item>
                  <el-menu-item index="3-7">
                    <router-link to="/seven">Seven</router-link>
                  </el-menu-item>
                  <el-menu-item index="3-8">
                    <router-link to="/eight">Eight</router-link>
                  </el-menu-item>
                  <el-menu-item index="3-9">
                    <router-link to="/nine">Nine</router-link>
                  </el-menu-item>
                </el-menu-item-group>
              </el-submenu> -->
            </el-menu>
          </el-aside>
</template>

<script>
  export default {
    name:'caidan',
    data(){
        return{
            items:[
                {title:'首页',path:'/shouye'},
                {title:'我的客户',path:'/kehuguanli'},
            ],
        }
    },
    methods: {
      handleOpen(key, keyPath) {
        console.log(key, keyPath);
      },
      handleClose(key, keyPath) {
        console.log(key, keyPath);
      }
    }
  }
</script>