*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    width: 100%;
    height: 100%;
    background-color: #e6e6e6;
}
.Title-Header{
    height: 30px;
    background-color: #0b8ec4;
}
.Caidan{
    border: none;
    background-color: #999;
    
}
.Title-Header .el-menu{
    background-color: rgba(247, 18, 18, 0) !important
}
.Menu-box{
    width: 200px;
    border: none;
    display: flex;
    line-height: 100px;
}
.Menu-box .aaa{
    height: 36px;
    line-height: 36px;
    margin: 15px 10px;
    color: white;
    border-radius: 5px;
}
/* .Menu-box .aaa:hover{
    background-color: white;
    transition-delay: 0s;
} */
.Title-User{
    background-color: white;
    width: 200px;
    height: 30px;
    margin: 5px 0;
    padding: 5px 50px;
    border: none;
    border-radius: 0 15px 15px 0;
    box-shadow: 1px 1px 4px #999;
    text-align: center;
}
.Aside{
    background-color: #0b8ec4;
    height: 500px;
    margin-right: 10px;
    box-shadow: 3px 0px 4px #999;
    color: white;
}
.bbb{
    color: white;
}
.Group-box .el-menu-item {
    color: white;
}
.Aside .el-submenu__title {
    color: white;
}
.Group-box{
    background-color: #0b8ec4;
    border: none;
}
.Main{
    height: 500px;
}
.el-row {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .el-col {
    border-radius: 4px;
  }
  .bg-purple {
    height: 120px;
    background: white;
    border-bottom: 5px solid #0b8ec4;
    box-shadow: 1px 1px 4px #999;
  }
  .bg-purp {
    height: 350px;
    background: white;
    box-shadow: 1px 1px 4px #999;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
