*{
    margin: 0;
    padding: 0;
  }
  .hander{
    width: 100%;
    height: 30px;
    background-color: rgb(131, 131, 244);
  }
  .hander-lr{
    height: 30px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    /* width: 1128px; */
    margin-top: 10px;
  }
  .hander-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .hander-right{
    margin: auto 0;
    display: flex;
    justify-content:start;
    
  }
  .hander-Full,.hander-message,.hander-user,.hander-select,.hander-end{
    height: 20px;
    margin: 0 5px;
    padding: 2px;
  }
  .bbb{
    display: flex;
    justify-content: flex-start;
    }
  .middle{
    height: 30px;
    margin: 5px 0;
    padding: 5px 0;
    /* background-color: bisque; */
    display: flex;
    justify-content: flex-start;
  }
  .middle .middle_left{
    width: 150px;
    margin-right: 10px;
    background-color: bisque;
    display: flex;
    justify-content: space-around;
  }
  .middle .middle_right{
    margin-right: 10px;
    background-color: rgb(197, 253, 156);
  }
  .box  .header-title{
    height: 50px;
    background-color: aquamarine;
  }
 
  .Kapian_box{
    width: 100%;
    height: 50px;
    background-color: rgb(122, 122, 122);
  }
  .title_biaotou{
    height: 30px;
    list-style-type: none;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .title_biaotou li{
    align-items: center;
    margin-right: 20px;
    padding-right: 10px;
  }
  
  .Aside{
    background-color: antiquewhite;
    height: 500px;
    box-shadow: 2px 2px 3px #d7d7d7;
    margin-right: 3px;

  }
  .Main{
    /* background-color: pink; */
    padding: 10px;
    display: flex;
    justify-content: space-around;

  }
  .Main_left{
    width: 80%;
    height: 100%;
    /* background-color: azure; */
  }
  .Main_left .left_top,.left_middle{
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    /* background-color: blue; */
  }
  .left_top{
    display: flex;
    justify-content: space-between;
  }
  .left_top .daiban,.yiban,.renwuci,.xiaoxitixing{
    width: 23%;
    height: 100%;
    background-color: rgb(173, 217, 255);
    border-radius: 5px;
    border-bottom: 5px solid blue;
  }
  .Main_left .left_middle{
    width: 100%;
    height: 250px;
    background-color: blue;
  }
  .left_bottom{
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }
  .left_bottom .bottom_left,.bottom_right{
    width: 49%;
    height: 100%;
    background-color: bisque;
  }
  .Main_right{
    width: 18%;
    height: 100%;
    /* background-color: rgb(127, 248, 248); */
  }
  .Main_right .gonggao,.shichang,.zhishiku{
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    background-color: aqua;
  }
