<template>
  <el-container class="box">
  <el-header class="Title-Header">
    <el-menu :default-openeds="['1']" class="Menu-box">
      <el-menu-item class="aaa" index="2">qqqq
      </el-menu-item>
      <el-menu-item class="aaa" index="2">台账查询</el-menu-item>
    </el-menu>
  </el-header>
  <el-container class="Title-User">我的客户</el-container>
  <el-container>
    <el-aside width="200px" class="Aside">
      <el-menu :default-openeds="['2']" class="Group-box">
        <el-menu-item index="2" class="aaa"><i class="el-icon-message"></i>导航一</el-menu-item>
        <el-submenu index="2">
          <template slot="title"><i class="el-icon-message"></i>导航二</template>
          <el-menu-item-group class="Group-box">          
            <el-menu-item index="2-1" class="bbb">选项1</el-menu-item>
            <el-menu-item index="2-2" class="bbb">选项2</el-menu-item>
          </el-menu-item-group>
        </el-submenu>
        <el-submenu index="3">
          <template slot="title"><i class="el-icon-message"></i>导航三</template>
          <el-menu-item-group class="Group-box">          
            <el-menu-item index="3-1" class="bbb">选项1</el-menu-item>
            <el-menu-item index="3-2" class="bbb">选项2</el-menu-item>
          </el-menu-item-group>
        </el-submenu>        
      </el-menu>
    </el-aside>
     
    <el-main class="Main">
       qq
    </el-main>
  </el-container>
</el-container>
</template>

<script>
export default {
  name:"kehu"
}
</script>

<style>
@import "../Class/Eight"; 
</style>