
html{
    width: 720px;
    height: 1500px;
    /* 隐藏滚动条 */
    /* overflow: hidden; */
    margin: 0 auto;
    padding: 0;
}
ul{
    list-style-type: none;
}
.footer{
    height: 55px;
    /* background-color: rgb(183, 183, 251); */
}
.footer-seat{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 55px;
    width: 100%;
    /* background-color: aqua; */
}
.footer-list{
    max-width: 720px;
    height: 55px;
    margin: 0 auto;
    background-color: #fff;
    
}
.footer-list  ul{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
.footer-list  ul li {
    /* flex: 1平均分布，和上面的 justify-content: space-around
   效果一样，一个在父容器中，一个在子容器 */
     /* flex: 1; */
    text-align: center;
}
.footer-list  ul li a{
    display: flex;
    flex-direction: column;
}
.footer-list  ul li i{
    font: 700 24px arial;
    padding: 5px 0;
    color: #333;
}
/* 在路由中引用 */
.footer-list .selected{
    color: rgb(94, 94, 252);
}

/* 首页 头部样式 */
.index-header{
    background-color: rgb(36,145,155);
    display: flex;
    flex-direction: column;
}
.index-header .index-header-item {
    padding: 20px;
}
.index-header .index-header-item .index-header-title{
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.index-header-input{
    position: relative;
    left: 0;
    top: 0;
}
.index-header-input i{
    left: 15px;
    top: 10px;
}
.search-icon{
    position: absolute;
    font-size: 20px;
    font-weight: 700;
    color: #54545c;
}
.index-header-input input{
    width: 90%;
}
.search-box{
    border-radius: 20px;
    outline: none;
    border: 1px solid #999;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    /* 首行缩进 */
    text-indent: 2em;
}

/* banner 样式 */
.banner {
    width: 100%;
    height: 400px;
    /* 超出部分隐藏 */
    overflow:hidden;
    position: relative;
}
.banner img{
    width: 100%;
    height: 100%;
    background-size: cover
}
.banner ul {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.banner ul li {
    border-radius:50%;
    padding: 5px;
    margin: 0 10px;
    background: rgba(255, 255, 255, .5);
}
.banner ul .select {
    background: #fb632b;
}

/* navlist 样式 */
.navList{
    margin: 20px;
}
.navList ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    /* list-style-type: none; */
}
.navList ul li{
    flex: 0 1 20%;
    margin: 7px 0;
}
.navList li img{
    max-width: 70%;
    height: 60px;
    border-radius: 50%;
}

/* coupn 优惠券样式 */
.coupon{
    background-color: #f4f5ef;
    padding: 20px;
}
.coupon-list{
    background-color: white;
}
.coupon-list ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 20px 0;
}
.coupon-price em{
    font:700 12px arial;
    /* 元素及其后代元素的顶部与整行的顶部对齐。 */
    vertical-align: top;
    margin: 0 -7px;
}
.coupon-price b{
    font:700 12px arial;
}
.coupon-range p{
    font:700 12px arial;
}
.coupon-btn{
    margin: 10px 0;
}
.coupon-btn button{
    background-color: #32aaa9;
    border-radius: 50px;
    color: #fff;
    border: none;
    padding: 4px 6px;
}
.coupon-list ul li{
    /* 给li一个宽度,虚线就隔开了 */
    flex: 0 1 23%;
}
.coupon-list li:not(:last-child){
    border-right: 1px dashed #dbdbdb;
}

/* main 主体样式 */
.main{
    padding: 20px;
}
.main .main-list{
    border-radius: 20px;
    overflow:hidden;
    background-color: #ff8a5f;
}
.main-list .main-list-img img{
    width: 100%;
    height: 100px;
    background-size: cover;
}

.main-list .main-list-item{
    border-radius: 20px;
    overflow:hidden;
    margin: 20px;
}
.main-list .main-list-item ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
.main-list-item ul li{
    flex: 0 1 45%;
}
.main-list-item-img{
    margin: 15px;
}
.main-list-item-img img{
    max-width: 100%;
    height: 200px;
    border-radius: 20px;
    background-size: cover;
}
/* .main-list-item-title{
    font: 700 18px arial;
} */
.main-list-item-prce {
    margin: 15px;
}
.main-list-item-prce em{
    font:700 18px arial;
    vertical-align: bottom;
    margin:  0 -7px;
}
.main-list-item-prce b{
    font:700 30px arial;
    vertical-align: bottom;
}
.main-list-item-prce button{
    border-radius: 20px 0 20px 0;
    background-color: #e50d0d;
    border: none;
    color: white;
    font:700 18px arial;
    padding: 8px;
}


/* 商品详情页 details */
.details{
    overflow: hidden;
}
.details-item1{
    height: 50PX;

}
.details-item1 .details-item1-header{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    /* justify-content: space-between; */
    padding: 10PX;
    background-color: #ffffff;
}
.details-item1-header i{
    width: 40%;
}
.details-item2 img{
    width: 100%;
    height: 250px;
    background-size: cover;
}
.details-item3 {
    margin: 10px 20px;
}
.details-item3 em{
    font: 700 20px arial;
    vertical-align: bottom;
    color:rgb(255, 123, 0)
}
.details-item3 i{
    font: 700 30px arial;
    vertical-align: bottom;
    color:rgb(255, 123, 0);
    margin: 0 -5px;
}
.details-item4{
    margin: 10px 20px;
}
.details-item5{
    display: flex;
    margin: 10px 20px;
}
.details-item5 span{
    border: 1px solid rgb(255, 123, 0);
    margin: 0 5px;
}
.details-item6 {
    text-align: center;
    margin: 10px 20px;
}
.details-item6 img{
    width: 100%;
    height: 100%;
    background-size: cover;
}

/* 选购指南 guide 样式 */
.guide{
    margin: 0 20px;
}
.guide-title>h4{
    text-align: center;
}
.guidelist{
    background-color: #ecf9ff;
    padding: 20px;
}
.guidelist li{
    display: flex;
}
.guidelist-left .guide-number{
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    background-color: blue;
    color: #fff;
}
.guide-line li{
    height: 50px;
    width: 10px;
    margin: 5px 0 5px 0;
}
.guide-line li{
    border-right: 2px solid blue;
}
.guidelist-right{
    margin-left: 50px;
}

/* 分类页classifytop样式 */

.classify-top{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.classify-top i{
    font-weight: 700;
}
.classify-location h3{
    /* 换行 */
    display: inline-block;
}
.classsify-input{
    position: relative;
}
.classsify-input i{
    left: 14px;
    top: 10px;
}

/* 分类leftmenu样式 */
.leftmenu{
    width: 100px;
    background-color: #e8e8e8;
    position: fixed;
    top: 60px;
    bottom: 0;
}
.leftmenu .selected{
    /* 虽然我们在页面中没有定义selected，
    但是浏览器页面会默认给一个selected样式，我们需要来定义一下*/
    color: red;
}
.leftmenu ul li {
    padding: 15px 0;
    text-align: center;
}
.leftmenu ul li:hover{
    background-color: #fff;
}
.leftmenu ul li:hover::before{
    content: '';
    position: absolute;
    left: 0;
    border-left: 3px solid red;
    height: 20px;
    border-radius: 0 5px 5px 0;
}

/* fruits  水果分类页样式 */
.classify-right ul {
    padding: 0 10px;
}
.classify-right ul li{
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid #f7f7f7;
    align-items: center;
    position: relative;
}
.classify-right-img{
    flex: 0 1 30%;
}
.classify-right-img img{
    width: 90%;
    height: auto;

}
.classify-right-list{
    flex: 0 1 70%;
}
.classify-right-list i{
    font-weight: 400;
    color: #999;
    font-size: 10px;
    margin: 15px 0;
}
.classify-right-price{
    display: flex;
    align-items: flex-end;
}
.classify-right-price em{
    color: red;
    vertical-align: bottom;
    font:700 12px arial;
}
.classify-right-price b{
    color: red;
    flex: 1;
}
.classify-right-price i{
    padding: 5px;
    background-color: red;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
}
.purchase{
    border: 2px solid red;
    color: red;
    border-radius: 50%;
    position: absolute;
    bottom: 50px;
    right: 0px;
    padding: 0 4px;
    font-weight: 700;
    transform: scale(0.6);
}