<!-- 查看的弹框组件 -->
<template>
  <div class="editdialog-container">
    <eu-dialog
      :visible.sync="dialogVisible"
      :fullscreen="isfullscreen"
      :close-on-click-modal="false"
      :width="width"
      destroy-on-close
      @close="closeDialog"
      @closed="closed"
    >
      <div slot="title">
        <span>{{ titletext }}</span>
        <div class="dialogtitle" @click="dialogmax"/>  
      </div>
      <slot/>
      <view-form ref="dialogForm" disabled/>
      <span slot="footer" class="dialog-footer">
        <span>
          <eu-button size="mini" icon="el-icon-close" @click="closeDialog">关 闭</eu-button>
        </span>
      </span>
    </eu-dialog>
  </div>
</template>

<script>
import mixinsdialog from '@/components/dialogmixins/mixinsdialog.js'
import viewForm from '../form'
export default {
  name: 'ViewDialog',
  components: {
    viewForm
  },
  mixins: [mixinsdialog],
  props: {
    titletext: {
      type: String,
      default() {
        return '查看'
      }
    }
  }
}
</script>

<style>

</style>
  watch: {
    'form.moduleStatus': {
      handler(newValue, oldValue) {
        const currentDate = new Date()
        const year = currentDate.getFullYear()
        const month = currentDate.getMonth() + 1
        const day = currentDate.getDate()
        if (newValue === '01') {
          this.form.onlineTime = year + '-' + month + '-' + day
          this.form.offlineTime = null
        } else if (newValue === '02') {
          this.form.onlineTime = null
          this.form.offlineTime = year + '-' + month + '-' + day
        } else {
          this.form.onlineTime = null
          this.form.offlineTime = null
        }
      }
    }
  },
  created() {
    this.srvEnvIdAll()
  },