<template>
  <el-container class="box">
  <el-header class="Title-Header">
     <el-tabs v-model="activeName" @tab-click="handleClick" class="Kapian-box">
    <el-tab-pane label="用户管理" name="first" class=".Kapian-box1">
       <el-aside width="200px" class="Aside">Aside</el-aside>
    </el-tab-pane>
    <el-tab-pane label="配置管理" name="second">配置管理</el-tab-pane>
    <el-tab-pane label="角色管理" name="third">角色管理</el-tab-pane>
    <el-tab-pane label="定时任务补偿" name="fourth">定时任务补偿</el-tab-pane>
  </el-tabs>
  </el-header>
  <el-container>
         
          <el-main class="Main">Main</el-main>
        </el-container>
  <!-- <el-container class="Title-User">我的客户</el-container>
  <el-container>
    <el-aside width="200px" class="Aside">
      <el-menu :default-openeds="['2']" class="Group-box">
        <el-menu-item index="2" class="aaa"><i class="el-icon-message"></i>导航一</el-menu-item>
        <el-submenu index="2">
          <template slot="title"><i class="el-icon-message"></i>导航二</template>
          <el-menu-item-group class="Group-box">          
            <el-menu-item index="2-1" class="bbb">选项1</el-menu-item>
            <el-menu-item index="2-2" class="bbb">选项2</el-menu-item>
          </el-menu-item-group>
        </el-submenu>
        <el-submenu index="3">
          <template slot="title"><i class="el-icon-message"></i>导航三</template>
          <el-menu-item-group class="Group-box">          
            <el-menu-item index="3-1" class="bbb">选项1</el-menu-item>
            <el-menu-item index="3-2" class="bbb">选项2</el-menu-item>
          </el-menu-item-group>
        </el-submenu>        
      </el-menu>
    </el-aside>
     
    <el-main class="Main">
       <el-row :gutter="20">
        <el-col :span="6"><div class="grid-content bg-purple">待办任务</div></el-col>
        <el-col :span="6"><div class="grid-content bg-purple">任务池</div></el-col>
        <el-col :span="6"><div class="grid-content bg-purple">已办任务</div></el-col>
        <el-col :span="6"><div class="grid-content bg-purple">消息提醒</div></el-col>
      </el-row>
      <el-row >
        <el-col :span="24"><div class="grid-content bg-purp">待办任务</div></el-col>
      </el-row>
    </el-main>
  </el-container> -->
</el-container>
</template>

<script>
export default {
  name:"eight",
   data() {
      return {
        activeName: 'second'
      };
    },
    methods: {
      handleClick(tab, event) {
        console.log(tab, event);
      }
    }
}
</script>

<style>
@import "../Class/Eight"; 
</style>