<template>
  <el-input-number v-model="num" @change="handleChange" :min="1" :max="10" label="描述文字"></el-input-number>
</template>

<script>
export default {
    name:'Four',
    data(){
      return {
        num: 0,
      }
    },
    methods: {
      handleChange(value) {
        console.log(value);
      }
    }
    }
</script>

<style>

</style>