<template>
  <div class="hander">
    <div class="hander-lr">
      <div class="hander-left">
        <div class="hander-logo">
          <span>logo</span>
        </div>
      </div>
      <div class="hander-right">
        <div class="hander-Full">
          <i class="el-icon-rank"></i>
        </div>
        <div class="hander-message">
          <i class="el-icon-chat-dot-round"></i>
        </div>
        <div class="hander-user">
          <span>头像</span>
        </div>
        <div class="hander-select">
          <i class="el-icon-arrow-down"></i>
        </div>
        <div class="hander-end">
          <i class="el-icon-caret-right"></i>
        </div>
      </div>
    </div>

    <!-- <img :src="img1" :alt="imgout" width="20px" height="20px"> -->
    <template>
      <el-container class="box">
        <el-header class="header_title" style="height: 50px">
          <el-tabs
            v-model="activeName"
            @tab-click="handleClick"
            class="Kapian_box">
            <el-tab-pane label="首页" name="first" class=".Kapian-box1"> 
              <!-- <router-link to="../views/views/start/Caidan">首页左树表</router-link> -->
            </el-tab-pane>
            <el-tab-pane label="我的客户" name="second">我的客户左树表</el-tab-pane>
            <el-tab-pane label="网贷" name="third">网贷左树表</el-tab-pane>
            <el-tab-pane label="利率定价" name="fourth">利率定价左树表</el-tab-pane>
          </el-tabs>
          
        </el-header>
            <div class="middle">
                <div class="middle_left">
                  <i class="el-icon-arrow-down"></i>
                  <i class="el-icon-arrow-down"></i>
                  <i class="el-icon-arrow-down"></i>
                </div>
                <div class="middle_right">空</div>
            </div>
        <el-container >

          <!-- 引入左树菜单 -->
          <caidan/>

          <!-- 主体 -->
          <el-main class="Main">
            <div class="Main_left">
              <div class="left_top">
                <div class="daiban"></div>
                <div class="yiban"></div>
                <div class="renwuci"></div>
                <div class="xiaoxitixing"></div>
              </div>
              <div class="left_middle"></div>
              <div class="left_bottom">
                <div class="bottom_left"></div>
                <div class="bottom_right"></div>
              </div>
            </div>
            <div class="Main_right" style="width: 150px">
              <div class="gonggao"></div>
              <div class="shichang"></div>
              <div class="zhishiku"></div>
            </div>
          </el-main>

          
          
        </el-container>
      </el-container>
      
    </template>
  </div>
</template>

<script>
// 引入左树菜单
import caidan from "../views/start/Caidan";
export default {
  name: "nine",
  components:{
    // 引入左树菜单
    caidan
  },
  data() {
    return {
      img1: "../static/images/1.jpg",
      imgout: "图片加载失败",
    };
  },
  methods: {
      handleClick(tab, event) {
        console.log(tab, event);

      },
    }
};
</script>

<style>
@import "../Class/Nine";
.el-header {
  background-color: #b3c0d1;
  color: #333;
  line-height: 60px;
}

.el-aside {
  color: #333;
}
</style>