<template>
  <div class="hander">
    <div class="hander-lr">
      <div class="hander-left">
        <div class="hander-logo">
          <span>logo</span>
        </div>
      </div>
      <div class="hander-right">
        <div class="hander-Full">
          <i class="el-icon-rank"></i>
        </div>
        <div class="hander-message">
          <i class="el-icon-chat-dot-round"></i>
        </div>
        <div class="hander-user">
          <span>头像</span>
        </div>
        <div class="hander-select">
          <i class="el-icon-arrow-down"></i>
        </div>
        <div class="hander-end">
          <i class="el-icon-caret-right"></i>
        </div>
      </div>
    </div>
    <div class="middle">
      <div class="middle_left">
        <i class="el-icon-arrow-down"></i>
        <i class="el-icon-arrow-down"></i>
        <i class="el-icon-arrow-down"></i>
      </div>
      <div class="middle_right">空</div>
    </div>
    <!-- <img :src="img1" :alt="imgout" width="20px" height="20px"> -->
    <template>
      <el-container class="box">
        <el-header class="header_title" style="height: 30px">
          <ul class="title_biaotou">
            <li>首页</li>
            <li>我的客户</li>
            <li>网贷</li>
            <li>利率定价</li>
          </ul>
        </el-header>
        <!-- 左树 -->
        <el-container>
          <el-aside
            width="150px"
            style="background-color: rgb(238, 241, 246)"
            class="Aside"
          >
            <el-menu :default-openeds="['3']" class="Aside_left">
              <el-submenu index="1">
                <template slot="title">会员管理</template>
                <el-menu-item-group>
                  <el-menu-item index="1-1">
                    <router-link to="/member/leve">会员等级</router-link>
                  </el-menu-item>
                  <el-menu-item index="1-2">
                    <router-link :to="{ name: 'MemberList', params: { id: 3 } }"
                      >会员列表</router-link
                    >
                  </el-menu-item>
                  <el-menu-item index="1-3">
                    <router-link to="/goMain/admin">返回首页</router-link>
                  </el-menu-item>
                </el-menu-item-group>
              </el-submenu>
              <el-submenu index="2">
                <template slot="title">商品管理</template>
                <el-menu-item-group>
                  <el-menu-item index="2-1">商品种类</el-menu-item>
                  <el-menu-item index="2-2">商品列表</el-menu-item>
                </el-menu-item-group>
              </el-submenu>
              <el-submenu index="3">
                <template slot="title">练习</template>
                <el-menu-item-group>
                  <el-menu-item index="3-1">
                    <router-link to="/one">One</router-link>
                  </el-menu-item>
                  <el-menu-item index="3-2">
                    <router-link to="/second">Second</router-link>
                  </el-menu-item>
                  <el-menu-item index="3-3">
                    <router-link to="/three">Three</router-link>
                  </el-menu-item>
                  <el-menu-item index="3-4">
                    <router-link to="/four">Four</router-link>
                  </el-menu-item>
                  <el-menu-item index="3-5">
                    <router-link to="/five">Five</router-link>
                  </el-menu-item>
                  <el-menu-item index="3-6">
                    <router-link to="/six">Six</router-link>
                  </el-menu-item>
                  <el-menu-item index="3-7">
                    <router-link to="/seven">Seven</router-link>
                  </el-menu-item>
                  <el-menu-item index="3-8">
                    <router-link to="/eight">Eight</router-link>
                  </el-menu-item>
                  <el-menu-item index="3-9">
                    <router-link to="/nine">Nine</router-link>
                  </el-menu-item>
                </el-menu-item-group>
              </el-submenu>
            </el-menu>
          </el-aside>
          <el-main class="Main">
            <div class="Main_left">
              <div class="left_top">
                <div class="daiban"></div>
                <div class="yiban"></div>
                <div class="renwuci"></div>
                <div class="xiaoxitixing"></div>
              </div>
              <div class="left_middle"></div>
              <div class="left_bottom">
                <div class="bottom_left"></div>
                <div class="bottom_right"></div>
              </div>
            </div>
            <div class="Main_right" style="width: 150px">
              <div class="gonggao"></div>
              <div class="shichang"></div>
              <div class="zhishiku"></div>
            </div>
          </el-main>
        </el-container>
      </el-container>
    </template>
  </div>
</template>

<script>
export default {
  name: "nine",
  data() {
    return {
      img1: "../static/images/1.jpg",
      imgout: "图片加载失败",
    };
  },
  method() {},
};
</script>

<style>
@import "../Class/Nine";
.el-header {
  background-color: #b3c0d1;
  color: #333;
  line-height: 60px;
}

.el-aside {
  color: #333;
}
</style>