<template>
  <div>
    我是One页面:--{{titletext}}----{{message}}
    <br><br>
    <button @click='bb'>显隐</button><br><br>
    <div v-show='color1' class="title-box"></div><br><br>
    <div v-if='color1' class="title2-box"></div>
  </div>
</template>

<script>
export default {
    name:'One',
    data(){
        return{
            message:'aaaaa',
            color1:true
        }
    },
    props: {
    titletext: {
      type: String,
      default() {
        return '返回值'
      }
    }
  },
  methods:{
    bb(){
        console.log(this),
        this.color1 = !this.color1
    }
  }
}
</script>

<style >

.title-box{
    width: 100px;
    height: 50px;
    background: #fd0404;
}
.title2-box{
    width: 100px;
    height: 50px;
    background: #00ff0d;
}
</style>