<template>
  <div>
    <img class="box" :src="images[initial].imSrc" />
    <br>
    <button @click="previousOne">上一张</button>
    <button @click="previousNext">下一张</button>
  </div>
</template>

<script>
export default {
    name:'Second',
    data(){
        return{
            images:[
                {id:1,imSrc:'/static/images/1.jpg'},
                {id:2,imSrc:'/static/images/2.jpg'},
                {id:3,imSrc:'/static/images/3.jpg'},
                {id:4,imSrc:'/static/images/4.jpg'}
            ],
            initial:0
        }
    },
    methods:{
        previousOne(){
            this.initial--;
            if(this.initial<=0){
                this.initial=3
            }
        },                                              
        previousNext(){
            this.initial++;
            if(this.initial>=4){
                this.initial=0
            }
        }
    },
    created(){
        setInterval(() => {
            this.initial++;
            if(this.initial>=4){
                this.initial=0
            }
        }, 2000);
    }
}
</script>

<style>
.box{
    width: 190px;
    height: 120px;
}
</style>