<template>
  <el-table class="six" :data="tableData" border style="width: 70%">
    <!-- fixed  固定-->
    <el-table-column fixed prop="date" label="日期" width="150"></el-table-column>
    <el-table-column prop="name" label="姓名" width="120"> </el-table-column>
    <el-table-column prop="province" label="省份" width="120"></el-table-column>
    <el-table-column prop="city" label="市区" width="120"> </el-table-column>
    <el-table-column prop="address" label="地址" width="300"> </el-table-column>
    <el-table-column prop="zip" label="邮编" width="120"> </el-table-column>
    <el-table-column fixed="right" label="操作" width="150">
      <!-- slot-scope="scope" 插槽-->
      <template slot-scope="scope">
        <el-popover placement="right" width="700" trigger="click">
          <el-table :data="tableData" border>
           <el-table-column width="150" property="date" label="日期"></el-table-column>
           <el-table-column width="100" property="name" label="姓名"></el-table-column>
           <el-table-column width="100" property="province" label="省份"></el-table-column>
           <el-table-column width="100" property="city" label="市区"></el-table-column>
           <el-table-column width="150" property="address" label="地址"></el-table-column>
           <el-table-column width="100" property="zip" label="邮编"></el-table-column>
          </el-table>
          <el-button slot="reference" size="small" type="text"  >查看</el-button>
        </el-popover>
        <!-- <el-button @click="handleClick(scope.row)" type="text" size="small">查看</el-button> -->
        <!-- <eu-button type="text" icon="el-icon-view" size="small" @click="view(scope.index,scope.row)">查看</eu-button> -->
        <el-button type="text" size="small">编辑</el-button>
        <el-button @click.native.prevent="deleteRow(scope.$index, tableData)" type="text" size="small">删除</el-button>
      </template>
    </el-table-column>
  </el-table>
</template>

<script>
export default {
  name: "Six",
  data() {
    return {
      tableData: [
        {
          date: "2016-05-02",
          name: "王小虎",
          province: "上海",
          city: "普陀区",
          address: "上海市普陀区金沙江路 1518 弄",
          zip: 200333,
        },
        {
          date: "2016-05-04",
          name: "王小虎",
          province: "上海",
          city: "普陀区",
          address: "上海市普陀区金沙江路 1517 弄",
          zip: 200333,
        },
        {
          date: "2016-05-01",
          name: "王小虎",
          province: "上海",
          city: "普陀区",
          address: "上海市普陀区金沙江路 1519 弄",
          zip: 200333,
        },
        {
          date: "2016-05-03",
          name: "王小虎",
          province: "上海",
          city: "普陀区",
          address: "上海市普陀区金沙江路 1516 弄",
          zip: 200333,
        },
      ],
    };
  },
  methods: {
      handleClick(row) {
        console.log(row);
      },
      deleteRow(index, rows) {
        rows.splice(index, 1);
      },
    //   view(index, row) {
    //   this.$refs.view.dialogshow(row)
    // },
    },
};
</script>

<style>
.six {
  text-align: center;
  margin: 200px;
}
</style>