<template>
    <div class="banner" >
        <img v-for="(v,i) in bannerlist" :key="i" :src="v" alt="" v-show="n==i">
        <ul>
            <!-- <li v-for="(v,i) in bannerlist" :key="i" class="select">111</li> -->
            <li v-for="(v,i) in bannerlist" :key="i" :class="n==i?'select':''"></li>
        </ul>
    </div>
</template>

<script>

export default {
    data(){
        return {
            n:0,
             bannerlist:[
                require("./blue-banner-1.jpg"),
                require("./green-banner-1.jpg"),
                require("./red-banner-1.jpg"),

                // {id:1,imSrc:'/blue-banner-1.jpg'},
                // {id:2,imSrc:'/green-banner-1.jpg'},
                // {id:3,imSrc:'/red-banner-1.jpg'}
            ],
        }
    },
    mounted(){//生命周期
        this.play()
    },
    methods:{
        autoplay(){
            this.n++
            if(this.n == this.bannerlist.length){
                this.n=0;
            }
        },
        play(){
        setInterval(this.autoplay, 2000);
    },
    //和下面play()一样，2种写法
    // play(){
    //     setInterval(() => {
    //         this.n++;
    //         if(this.n == this.bannerlist.length){
    //             this.n=0;
    //         }
    //     }, 2000);
    // },
        
    }
        
}
</script>
