<template>
  <div class="coupon">
    <div class="coupon-list">
        <ul>
            <li v-for="(v,i) in couponList" :key="i">
                <div class="coupon-price">
                    <em>￥</em>
                    <b>{{v.price}}</b>
                </div>
                <div class="coupon-range">
                    <span>{{v.range}}</span>
                </div>
                <div class="coupon-btn">
                    <button>{{v.btn}}</button>
                </div>
            </li>
        </ul>
    </div>
  </div>
</template>

<script>
export default {
    data(){
        return{
            couponList:[
                {price:'5',range:'满99元减',btn:'立即领取'},
                {price:'15',range:'满158元减',btn:'立即领取'},
                {price:'35',range:'满258元减',btn:'立即领取'},
                {price:'100',range:'满598元减',btn:'立即领取'},
            ]
        }
    }
}
</script>

<style>

</style>