<template>
  <div class="details">
    <div class="details-item1">
        <div class="details-item1-header">
            <i class="iconfont icon-liebiao" @click="goback()"></i>
            <p>商品详情</p>
        </div>
    </div>
    <div class="details-item2">
        <img src="./blue-banner-1.jpg" alt="">
    </div>
    <div class="details-item3">
        <em>￥</em>
        <i>70</i>
    </div>
    <div class="details-item4">
        <h4>幸福我味道柴鸡蛋60枚</h4>
    </div>
    <div class="details-item5">
        <b>优惠</b>
        <span>换购</span>
        <p>购买1件商品可优惠换购热销商品</p>
    </div>
    <div class="details-item6">
        <h4>图文详情</h4>
        <img src="./blue-banner-1.jpg" alt="">
    </div>
    <Guide/>
  </div>
</template>

<script>
import Guide from "./guide";

export default {
    components:{
        Guide,
    },
    methods:{
        goback(){
            this.$router.push('./index')
        }
    }
}
</script>

<style>

</style>