<template>
  <div class="guide">
    <div class="guide-title">
        <h4>选购指南</h4>
    </div>
    <div class="guidelist">
        <ul>
            <li v-for="v in guideList" :key="v.id">
                <div class="guidelist-left">
                    <div class="guide-number">{{v.id}}</div>
                    <div class="guide-line">
                        <ul>
                            <li></li>
                        </ul>
                    </div>
                </div>
                <div class="guidelist-right">
                    <h4>{{v.title}}</h4>
                    <p>{{v.content}}</p>
                </div>
            </li>
        </ul>
    </div>
  </div>
</template>

<script>
export default {
    data(){
        return{
            guideList:[
                {id:'1',title:'在线下单',content:'每天23: 00点前可以选购次日送达的商品,具体以商品页面的提货信息为准。'},
                {id:'2',title:'在线下单',content:'每天23: 00点前可以选购次日送达的商品,具体以商品页面的提货信息为准。'},
                {id:'3',title:'在线下单',content:'每天23: 00点前可以选购次日送达的商品,具体以商品页面的提货信息为准。'},
                {id:'4',title:'在线下单',content:'每天23: 00点前可以选购次日送达的商品,具体以商品页面的提货信息为准。'},
                
            ]
        }
    }
}
</script>

<style>

</style>