<template>
  <div class="index-header">
    <div class="index-header-item">
        <div class="index-header-title">
            <h2>品质生鲜</h2>
            <span>售后保障</span>
        </div>
        <div class="index-header-input">
            <input type="text" placeholder="搜索商品" class="search-box">
            <i class="search-icon iconfont icon-sousuo-xianxing"></i>
        </div>
    </div>
  </div>
</template>

