<template>
  <div>
    <Header/>
    <Banner/>
    <NavList/>
    <Main/>
  </div>
    
  
</template>

<script>
import Header from './header';
import Banner from './banner';
import NavList from './navList';
import Coupon from './coupon';
import Main from './main';

export default {
    name:'',
    components:{
      Header,
      Banner,
      NavList,
      Coupon,
      Main,
    },
    data(){
        return {

        }
    }
}
</script>

<style scoped>

</style>