<template>
  <div class="main">
    <div class="main-list">
        <div class="main-list-img">
            <img src="./blue-banner-1.jpg" alt="">
        </div>
        <div class="main-list-item">
            <ul>
                <li v-for="v in mainList" :key="v.image">
                    <router-link to="./details">
                        <div class="main-list-item-img">
                            <img :src="v.image" alt="">
                        </div>
                        <div class="main-list-item-title">
                            <h4>{{v.title}}</h4>
                        </div>
                        <div class="main-list-item-prce">
                            <em>￥</em>
                            <b>{{v.prce}}</b>
                            <button>{{v.btn}}</button>
                        </div>
                    </router-link>
                </li>
            </ul>
        </div>
    </div>
  </div>
</template>

<script>
export default {
    data(){
        return{
            mainList:[
                {image:require('./blue-banner-1.jpg'),title:'幸福我味道柴鸡蛋60枚/盒',prce:'70',btn:'立即购买'},
                {image:require('./blue-banner-1.jpg'),title:'幸福我味道柴鸡蛋60枚/盒',prce:'70',btn:'立即购买'},
                {image:require('./blue-banner-1.jpg'),title:'幸福我味道柴鸡蛋60枚/盒',prce:'70',btn:'立即购买'},
                {image:require('./blue-banner-1.jpg'),title:'幸福我味道柴鸡蛋60枚/盒',prce:'70',btn:'立即购买'},
            ]
        }
    }
}
</script>

<style>

</style>