<template>
    <div class="navList">
        <ul>
            <li v-for=" v in NavList" :key="v.path">
                <img :src="v.path" alt="">
                <p>{{ v.title }}</p>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    data(){
        return{
            NavList:[
                {path:require('./blue-banner-1.jpg'),title:'精品水果'},
                {path:require('./green-banner-1.jpg'),title:'时令蔬菜'},
                {path:require('./red-banner-1.jpg'),title:'肉禽蛋品'},
                {path:require('./blue-banner-1.jpg'),title:'精品水果'},
                {path:require('./green-banner-1.jpg'),title:'精品水果'},
                {path:require('./red-banner-1.jpg'),title:'精品水果'},
                {path:require('./blue-banner-1.jpg'),title:'精品水果'},
                {path:require('./green-banner-1.jpg'),title:'精品水果'},
                {path:require('./red-banner-1.jpg'),title:'精品水果'},
                {path:require('./red-banner-1.jpg'),title:'精品水果'},
            ]
        }
    }
}
</script>
