@font-face {
  font-family: "iconfont"; /* Project id 4282021 */
  src: url('iconfont.woff2?t=1697008686740') format('woff2'),
       url('iconfont.woff?t=1697008686740') format('woff'),
       url('iconfont.ttf?t=1697008686740') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-liebiao:before {
  content: "\e600";
}

.icon-chakan:before {
  content: "\e601";
}

.icon-star:before {
  content: "\e61b";
}

.icon-duigou:before {
  content: "\e632";
}

.icon-hetong7:before {
  content: "\e675";
}

.icon-icontouxiang:before {
  content: "\e678";
}

.icon-touxiang:before {
  content: "\e679";
}

.icon-xiangji:before {
  content: "\e614";
}

.icon-iconfontpaixingbang:before {
  content: "\e639";
}

.icon-faxian:before {
  content: "\e608";
}

.icon-tupian:before {
  content: "\e64a";
}

.icon-gengduo:before {
  content: "\e615";
}

.icon-bianji:before {
  content: "\e694";
}

.icon-bianji1:before {
  content: "\e68e";
}

.icon-xiaoxi:before {
  content: "\e69a";
}

.icon-sousuo-xianxing:before {
  content: "\e8b8";
}

.icon-duigouxiao:before {
  content: "\e8bd";
}

.icon-fl-tupian:before {
  content: "\e626";
}

.icon-xiangji1:before {
  content: "\e664";
}

.icon-shouye:before {
  content: "\e60c";
}

.icon-icon_shanchu-mian:before {
  content: "\e636";
}

.icon-icon_shanchu-xian:before {
  content: "\e637";
}

.icon-chaxunshibai:before {
  content: "\e621";
}

.icon-chenggong:before {
  content: "\e64e";
}

.icon-shaixuan:before {
  content: "\e692";
}

.icon-xiaoxi1:before {
  content: "\e612";
}

.icon-24gl-telephone:before {
  content: "\e953";
}

.icon-24gf-telephone:before {
  content: "\e96c";
}

.icon-xinkehu:before {
  content: "\e62d";
}

.icon-chakan1:before {
  content: "\e62f";
}

.icon-yewu:before {
  content: "\e66c";
}

.icon-wode:before {
  content: "\e67a";
}

.icon-cuowu:before {
  content: "\e613";
}

.icon-touxiang1:before {
  content: "\e6de";
}

.icon-ziyuan:before {
  content: "\e6a5";
}

.icon-touxiang2:before {
  content: "\e62c";
}

.icon-chuangjianqunliao:before {
  content: "\e699";
}

.icon-shouye1:before {
  content: "\e605";
}

.icon-peizhitubiaosvg-:before {
  content: "\e662";
}

.icon-gfmima:before {
  content: "\e7cb";
}

.icon-shuju:before {
  content: "\e61a";
}

.icon-shuju1:before {
  content: "\e6d4";
}

.icon-biaoqiankuozhan_faxian-139:before {
  content: "\eb03";
}

.icon-shuju2:before {
  content: "\e697";
}

.icon-work-permit-full:before {
  content: "\e8a9";
}

.icon-work-permit:before {
  content: "\e8aa";
}

.icon-odbc-full:before {
  content: "\e93a";
}

.icon-odbc:before {
  content: "\e93b";
}

.icon-chuangjianren:before {
  content: "\e609";
}

.icon-jingbanquanxian:before {
  content: "\e86c";
}

.icon-wode1:before {
  content: "\e627";
}

.icon-mima:before {
  content: "\e622";
}

