<template>
    <div class="classify-top">
        <div class="classify-location">
          <i class="iconfont icon-shaixuan"></i>
          <h3>武汉光谷广场店</h3>
        </div>        
        <div class="classsify-input">
          <input type="text" placeholder="搜索商品" class="search-box">
          <i class="search-icon iconfont icon-sousuo-xianxing"></i>
        </div>
      </div>
</template>