<template>
  <div class="classify">
      <Classifytop/>
      <Leftmenu/>
      <div style="margin-left:100px">
      <router-view />
      </div>
      
  </div>
</template>
<script>
import Classifytop  from './classifytop.vue'
import Leftmenu  from './leftmenu.vue'

export default{
  components:{
    Classifytop,
    Leftmenu,
  },
  data(){
    return{

    }
  }
}
</script>
