<template>
    <div class="leftmenu">
        <ul>
            <li v-for="(v,i) in leftmenuList" :key="i">
                <router-link :to="v.path">{{v.title}}</router-link>
            </li>
        </ul>
      </div>
</template>
<script>
export default {
    data(){
        return{
            leftmenuList:[
                {path:'/classify/fruits',title:'新鲜水果'},
                {path:'/classify/vegetables',title:'时令蔬菜'},
            ]
        }
    }
}
</script>